body{
    background-color:lightgray;
}

header{
    width: 100%;
    height: 180px;
    
    font-family: 'Chakra Petch', sans-serif;
}

header .inner{
    width: 100%; 
    height: 180px;
    display: block;
    margin: 0;
    background-color: gray;
}

header .crflogo{
    display: table;
    height: 100%;
    float: left;
}

header .crflogo section{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .crflogo img{
    height: 180px;
    width: 500px;
    margin-top: 0px; 
}

header nav{
    float: right;
    height: 100%;
    font-weight: bold;
    font-size: xx-large;
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
}

header nav li:last-of-type{
    margin-right: 0;
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

header nav a{
    color: #101010;
}

header nav .button{
    background-color: #4A4645; /* This HEX is the color of the button */
    color: #FFBD4A;
    padding: 10px 20px;
    border-radius: 4px;
    margin-right: 5px;
}

header nav .button:hover{
    filter: brightness(1.05);
    color: white;
}

.main{
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
}

.title{
    max-width: auto;
    
}

.portimg{
    width: 100%;
}

.flex-container{
    display: flex;
}

.flex-child{
   flex: 1;
   font-family: 'Chakra Petch', sans-serif;
}

.flex-child:first-child{
        margin: 20px;
        background-color: gray;
        color: black;
        height: 200px;
        border: 3px solid #4A4645;
        font-size: x-large;
        text-align: center;
        padding-top: 50px;
        
}

.gray{
    margin: 20px;
    background-color: gray;
    color: #FFBD4A;
    height: 200px;
    border: 3px solid #4A4645;
    font-size: 100px;
    text-align: center;
    padding-top: 50px;
}

.longboi{
    margin: 20px;
    background-color: #4A4645;
    color: #FFBD4A;
    height: 200px;
    border: 3px solid #4A4645;
    font-size: 100px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Chakra Petch', sans-serif;
    display: flex;
    flex-direction: column;
}

.encompassingboxes{
    display: flex;
}

.sidebysideboxes {
    max-width: 100%; 
    width: 300px;
    margin: 20px;
    background-color: gray;
    color: #FFBD4A;
    height: 200px;
    border: 3px solid #4A4645;
    font-size: 50px;
    text-align: center;
    padding-top: 50px; 
    box-sizing: border-box;
    position: relative;
    flex: 1;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallbox {
   margin: 0 15px;
   max-width: 500px; 
   padding: 20px;
   box-sizing: border-box;
   height: 200px; 
   color: #FFBD4A;
   flex: 1;
}

.hikeright{
    max-width: 100%; 
    width: 300px;
    margin: 20px;
    color: #FFBD4A;
    height: 200px;
    border: 3px solid #4A4645;
    font-size: 50px;
    text-align: center;
    padding-top: 50px; 
    box-sizing: border-box;
    position: relative;
    flex: 1;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://www.creativefabrica.com/wp-content/uploads/2021/02/11/take-a-hike-logo-vector-with-man-hiking-Graphics-8552922-1-1-580x387.jpg");
    background-size: 100% 100%;
}

.coding{
    max-width: 100%; 
    width: 300px;
    margin: 20px;
    color: #FFBD4A;
    height: 200px;
    border: 3px solid #4A4645;
    font-size: 50px;
    text-align: center;
    padding-top: 50px; 
    box-sizing: border-box;
    position: relative;
    flex: 1;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://crella.sfo2.cdn.digitaloceanspaces.com/wp-content/uploads/2020/12/16072709/2020-12-15_07-scaled.jpg");
    background-size:100% 100%;
}

.drone{
    max-width: 100%; 
    width: 300px;
    margin: 20px;
    color: #FFBD4A;
    height: 200px;
    border: 3px solid #4A4645;
    font-size: 50px;
    text-align: center;
    padding-top: 50px; 
    box-sizing: border-box;
    position: relative;
    flex: 1;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/Users/kchiu/bootcamp/homework/kyleprofessionalportfolio/assets/images/gitHomiestest.png");
    background-size:100% 100%;
}

button{
    background: transparent;
    border-style: none;
}

.password{
    max-width: 100%; 
    width: 300px;
    margin: 20px;
    color: #FFBD4A;
    height: 200px;
    border: 3px solid #4A4645;
    font-size: 50px;
    text-align: center;
    padding-top: 50px; 
    box-sizing: border-box;
    position: relative;
    flex: 1;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://www.j2store.org/images/extensions/apps/apps_preview_image/change_password_preview.png");
    background-size:100% 100%;
}

.icons{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.github{
    width: 75px;
    height: 75px;
}

.twitter{
    width: 75px;
    height: 75px;
}

.facebook{
    width: 75px;
    height: 75px;
}

.instagram{
    width: 75px;
    height: 75px;
}

.footer{
    margin: 20px;
    background-color: #4A4645;
    color: #FFBD4A;
    height: 50px;
    border: 3px solid #4A4645;
    font-size: 100px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Chakra Petch', sans-serif;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    main, .encompassingboxes,.flex-child, .gray, .flex-container,
    nav {
      flex-direction: column;
    }
  }